@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
/* body {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
} */
.container {
  background-color: red !important;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  box-shadow: 0px 0px 15px #797777;
  border-radius: 10px;
  margin: auto;
  padding: 40px 30px;
}
.text-center {
  text-align: center;
}
input {
  width: 100%;
  padding: 7px 10px;
  outline: 0;
  border: 1px solid;
  border-radius: 10px;
}
label {
  display: block;
  padding-bottom: 7px;
}
button {
  padding: 10px 15px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.loginbtn {
  background: #318331;
  width: 100%;
  border-radius: 15px;
  font-size: 16px;
  color: #fff;
}
th,
td {
  padding: 20px 90px;
}
.row {
  display: flex;
  height: 100vh;
}
.col-2 {
  width: 20% !important;
  background: #145001;
  color: #fff;
  width: 100%;
}
.col-10 {
  width: 80% !important;

  height: 100%;
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.p-3 {
  padding: 30px;
}
ul li {
  list-style: none;
}
ul li a {
  color: #fff;
}
nav {
  background: green;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
nav a {
  color: #fff;
}
.mt-3 {
  margin-top: 30px;
}
.delete_btn {
  background: red;
  color: #fff;
  padding: 7px 20px;
  border-radius: 7px;
}
.edit_btn {
  background-color: rgb(152, 152, 147);
  color: #fff;
  padding: 7px 20px;
  border-radius: 7px;
}
